@{
    Layout = "_Layout";
}
<h1 class="page-header mb-3">
    Hi, Welcome
    <asp:Label ID="my_name" runat="server" Text="Label"></asp:Label>. <small>have a nice day..</small>
</h1>

<div class="row">
    <div class="col-xl-12">
        <div class="row">

            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 pb-5">
                <a href="sale" class="card bg-gradient-cyan-blue border-0 text-decoration-none">
                    <div class="card-body d-flex align-items-center text-white">
                        <div class="flex-fill">
                            <div class="mb-1">Sale Record</div>
                            <h6>ADD ITEM</h6>
                            <%--<div>Today, 11:25AM</div>--%>
                        </div>
                        <div class="opacity-5">
                            <i class="fa fa-rupee-sign fa-4x"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 pb-5">
                <a href="addcash" class="card bg-gradient-cyan-blue border-0 text-decoration-none">
                    <div class="card-body d-flex align-items-center text-white">
                        <div class="flex-fill">
                            <div class="mb-1">Cash Amount</div>
                            <h6>RECEIVE CASH</h6>
                            <%--<div>Today, 11:25AM</div>--%>
                        </div>
                        <div class="opacity-5">
                            <i class="fa fa-money-bill-alt fa-4x"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 pb-5">
                <a href="addrawmat" class="card bg-gradient-cyan-blue border-0 text-decoration-none">
                    <div class="card-body d-flex align-items-center text-white">
                        <div class="flex-fill">
                            <div class="mb-1">New Material</div>
                            <h6>ADD RAW MATERIAL</h6>
                            <%--<div>Today, 11:25AM</div>--%>
                        </div>
                        <div class="opacity-5">
                            <i class="fa fa-file-alt fa-4x"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 pb-5">
                <a href="addcustomer" class="card bg-gradient-cyan-blue border-0 text-decoration-none">
                    <div class="card-body d-flex align-items-center text-white">
                        <div class="flex-fill">
                            <div class="mb-1">Customer Record</div>
                            <h6>ADD CUSTOMER</h6>
                            <%-- <div>Today, 11:25AM</div>--%>
                        </div>
                        <div class="opacity-5">
                            <i class="fa fa-address-book fa-4x"></i>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="row" style="margin-top: 20px;">

            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 pb-5">
                <a href="rptsale" class="card bg-gradient-cyan-blue border-0 text-decoration-none">
                    <div class="card-body d-flex align-items-center text-white">
                        <div class="flex-fill">
                            <div class="mb-1">Search Record</div>
                            <h6>SALE</h6>
                            <%--<div>Today, 11:25AM</div>--%>
                        </div>
                        <div class="opacity-5">
                            <i class="fa fa-search fa-4x"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 pb-5">
                <a href="rptcash" class="card bg-gradient-cyan-blue border-0 text-decoration-none">
                    <div class="card-body d-flex align-items-center text-white">
                        <div class="flex-fill">
                            <div class="mb-1">Search Record</div>
                            <h6>CASH</h6>
                            <%-- <div>Today, 11:25AM</div>--%>
                        </div>
                        <div class="opacity-5">
                            <i class="fa fa-search fa-4x"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 pb-5">
                <a href="rptrawmat" class="card bg-gradient-cyan-blue border-0 text-decoration-none">
                    <div class="card-body d-flex align-items-center text-white">
                        <div class="flex-fill">
                            <div class="mb-1">Search Record</div>
                            <h6>RAW MATERIAL</h6>
                            <%-- <div>Today, 11:25AM</div>--%>
                        </div>
                        <div class="opacity-5">
                            <i class="fa fa-search fa-4x"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 pb-5">
                <a href="rptcustomer" class="card bg-gradient-cyan-blue border-0 text-decoration-none">
                    <div class="card-body d-flex align-items-center text-white">
                        <div class="flex-fill">
                            <div class="mb-1">Search Record</div>
                            <h6>CUSTOMER</h6>
                            <%-- <div>Today, 11:25AM</div>--%>
                        </div>
                        <div class="opacity-5">
                            <i class="fa fa-search fa-4x"></i>
                        </div>
                    </div>
                </a>
            </div>



        </div>

    </div>
</div>
